#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
<<<<<<< HEAD
  transition: font-size 300ms;
}

button:hover {
  font-size: 30px;
}
=======
}
>>>>>>> 9d71adb6e1289f21e1047b5e6c4247fb481a9a24
