* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.button-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 100%;
<<<<<<< HEAD:animation/03-pop-up/style.css
  transition: opacity ease-in 500ms, background-color ease-in 500ms;
}

.button-container.show {
  opacity: 40%;
  background-color: black;
}

#trigger-modal:hover,
#close-modal:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px #000000;
}


#trigger-modal,
.popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#trigger-modal {
=======
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
>>>>>>> 9d71adb6e1289f21e1047b5e6c4247fb481a9a24:animation/02-pop-up/style.css
  padding: 20px;
  color: #ffffff;
  background-color: #0e79dd;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.popup-modal {
  padding: 32px 64px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
<<<<<<< HEAD:animation/03-pop-up/style.css
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  opacity: 0;
  transition: margin-top ease-out 500ms, opacity ease-out 500ms, visibility linear 500ms;
  visibility: hidden;
}

.popup-modal.show {
  width: 30%;
  height: 15%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
}

.popup-modal.show {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
  transition: margin-top ease-out 500ms, visibility linear 500ms, opacity ease-out 500ms;
=======
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0%;
  text-align: center;
}
.popup-modal p {
  margin-bottom: 24px
>>>>>>> 9d71adb6e1289f21e1047b5e6c4247fb481a9a24:animation/02-pop-up/style.css
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

.popup-modal.show {
  opacity: 100%;
  pointer-events: all;
}

.backdrop.show {
  opacity: 30%;
}

